<div class="wrapper pb-4 px-4">
  <div class="container mt-3">
    <div class="row">
      <div class="col-sm-12 text-right mb-2">
        <button mat-dialog-close mat-flat-button color="primary">Zamknij</button>
      </div>
    </div>
    <mat-dialog-content class="mat-typography">
      <div class="row text-center">
        <div class="col-sm-1 col-6 order-1 order-sm-1 my-sm-0 my-3 d-flex align-items-center">
          <fa-icon (click)="navigate(post.id+1)" [icon]="prev" size="3x"></fa-icon>
        </div>
        <div class="col-sm-5 order-3 order-sm-2">
          <img class="img-fluid rounded" src="{{post.image}}" alt="">
        </div>
        <div class="col-sm-5 order-4 order-sm-3 d-flex align-items-center text-justify">
          <div>
            <p>{{post.text}}</p>
          </div>
        </div>
        <div class="col-sm-1 col-6 order-2 order-sm-4 my-sm-0 my-3 d-flex align-items-center justify-content-end">
          <fa-icon (click)="navigate(post.id-1)" [icon]="next" size="3x"></fa-icon>
        </div>
      </div>
    </mat-dialog-content>
  </div>
</div>
