<div class="container mt-5 pt-3 pb-5">
  <div class="row">
    <div class="col-sm-12 mb-3 text-center">
      <div  style="margin: 0 auto;width:50%;border-bottom:2px solid #e78fb3">
        <h1 style="color:white;">Ostatnie posty</h1>
      </div>
    </div>
    <div class="col-sm-4 pt-4">
      <mat-card><img  mat-card-image (click)="openModal()"  src="https://image.shutterstock.com/image-photo/pooping-white-dog-shiba-inu-600w-1420432652.jpg" alt="Photo of a Shiba Inu" alt=""></mat-card>
    </div>    <div class="col-sm-4 pt-4">
      <mat-card><img mat-card-image src="https://image.shutterstock.com/image-photo/pooping-white-dog-shiba-inu-600w-1420432652.jpg" alt="Photo of a Shiba Inu" alt=""></mat-card>
    </div>    <div class="col-sm-4 pt-4">
      <mat-card><img  mat-card-image mat-card-image src="https://image.shutterstock.com/image-photo/pooping-white-dog-shiba-inu-600w-1420432652.jpg" alt="Photo of a Shiba Inu" alt=""></mat-card>
    </div>    <div class="col-sm-4 pt-4">
      <mat-card><img  mat-card-image mat-card-image src="https://image.shutterstock.com/image-photo/pooping-white-dog-shiba-inu-600w-1420432652.jpg" alt="Photo of a Shiba Inu" alt=""></mat-card>
    </div>    <div class="col-sm-4 pt-4">
      <mat-card><img  mat-card-image mat-card-image src="https://image.shutterstock.com/image-photo/pooping-white-dog-shiba-inu-600w-1420432652.jpg" alt="Photo of a Shiba Inu" alt=""></mat-card>
    </div>    <div class="col-sm-4 pt-4">
      <mat-card><img  mat-card-image mat-card-image src="https://image.shutterstock.com/image-photo/pooping-white-dog-shiba-inu-600w-1420432652.jpg" alt="Photo of a Shiba Inu" alt=""></mat-card>
    </div>

  </div>
</div>
