.mat-card{
  padding-bottom: 0px;
  :hover{
    cursor: pointer;
  }
}

.mat-card-image{
  border-bottom: 4px solid #e78fb3;
  max-height: 415px;
  overflow: hidden;
}

mat-grid-tile {
  background: lightblue;
}
