.jumbotron-fluid{
  background: #271c19;

  .small-box{
    min-height: 140px;
    p{
      font-size: 18px;
    }
  }

  .mid-box{
    padding-top: 41px;
    min-height: 215px;

  }

  .big-box{
    min-height: 371px;
    img {
      max-height: 180px;
    }
  }

  mat-card{
    background: #FFF1EE;
    flex: 1 0 auto;
    width: 0;

    a {
      color: initial; /* blue colors for links too */
      text-decoration: inherit; /* no underline */
    }

    .line-top{
      border-top: 2px solid #e78fb3;
      margin-top: 13px;
    }

    mat-card-header{
      border-bottom: 2px solid #e78fb3;
    }
  }
}
