
div{
  width: 100%;
  padding: 15px
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

mat-card{
  background: #FFF1EE;
}

mat-card-header{
  border-bottom: 2px solid #e78fb3;
}

.line-top{
  border-top: 2px solid #e78fb3;
}

.small-box{
  min-height: 140px;
  p{
    font-size: 18px;
  }
}

.mid-box{
  padding-top: 40px;
  min-height: 215px;

}

.big-box{
  min-height: 370px;
  img{
    max-height: 180px;
  }
}

.col-sm-6, .col-sm-12{
  padding-right: 0;
}
.no-padding-top{
  padding-top: 0;
}

.no-padding-left{
  padding-left: 0;
}

.jumbotron-fluid{
   background: #271c19;
}
.no-padding-x {
  margin-left: 0;
  margin-right: 0;
}

a {
  color: initial; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

@media only screen and (max-width: 768px) {
  .row-wrapper {
    flex-direction: column-reverse;
  }
  .container-wrapper{
  text-align: -webkit-center;
  }
  .col-sm-6, .col-sm-12{
    padding-left:  0;
  }
  .big-box{
    min-height: 320px;
  }
  .mid-box{
    padding-top: 15px;
  }
  .no-padding-x{
    padding-left: 0;
    padding-right: 0;
  }
  .no-padding-top-mobile{
    padding-top: 0;
  }
}
